body, html,ul
{  
  font-size: 8pt;
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-family:"Lucida Grande" ,"SegoeUI";
  padding: 0 0 0 0;
  margin: 0 0 0 0; 

  box-model:border-box;
}
html
{
   
   background-color:rgb(164,164,164) ;
     background-image:url(../img/background-gradient.png);
    background-attachment:fixed;
    background-position: bottom right;
    background-repeat: repeat-x;
}

a               {text-decoration:none; color:rgb(32,128,32);}
a:hover         {color:rgb(0,32,0); text-decoration:underline;
background-color:rgba(32,164,0,0.1);}

img {
  border:none;
}


#loading {
    background-color: #FF3333;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 0px;
    font-size: 1.2em;
    padding: 3px;
    z-index: 10000;
}

/* buttons - here is how this works, 
             * the buttons use css to give a rounded border, 
             * and a background image for the gradient.
             * in the case of older browsers, they ignore the rounded corners, but do pick up the gradient
             * so all is still well in the world.
             */
    input.button,
    input:hover.button,
    input:active.button,
    a:hover.button,
    a:active.button,
    a.button
    {
        display:inline-block !important ;
        box-model:border-box;
        border: 1px solid rgb(168,168,168);
        border-bottom: 1px solid rgb(96,96,96);
        border-right: 1px solid rgb(128,128,128);
        font: 500 1.3rem/1.6rem lucida grande, segoeUI ;
        display:inline-block;
        padding:0.2rem 0.5rem;
        color:rgb(64,64,64) !important;
        margin: 0.5rex 0.5rex 0.5rex 0;
        min-width:  5rem;
        min-height:1rem;
        text-align:center;
        background-image: url(../img/button-gradient.png);
        background-repeat:repeat-x;
        background-position:right top;
        text-decoration: none;
        border-radius:0.2rem;
    }
    input:hover.button,
    a:hover.button
    { 
        border: 1px solid rgb(128,128,196);
        border-bottom: 1px solid rgb(64,64,64);
        border-right: 1px solid rgb(64,64,64);
        background-color: rgb(230,230,240);
        color:rgb(0,0,64) !important;
        
    }
    input:active.button,
    a:active.button
    { 
        border: 1px solid rgb(128,128,128);
        border-bottom: 1px solid rgb(96,96,96);
        box-shadow: inset   2px 2px 7px rgba(50, 50, 50, 0.75);
        background-color: rgb(215,215,215);
        color:rgb(0,0,0) !important;
        
    }
    
    span a:first-child.button,
    div a:first-child.button
    { 
        border-top-left-radius:0.4ex;
        border-bottom-left-radius:0.4ex;
    }
    
    span a:last-child,
    div a:last-child
    { 
        border-top-right-radius:0.4ex;
        border-bottom-right-radius:0.4ex;
        border-right-width:1px;
    }

    

.tab {
  height:100%;
}

#loading {
  background-color: #333333;
  color: white;
  font-weight: bold;
  position: absolute;
  right: 0px;
  padding: 3px;
  z-index: 10000;
}

/** toggles **/

.when-on {
    display: none;
}
.is-on > .when-on {
    display: inline;
}
.is-on > .when-off {
    display: none;
}

/** Method editor **/
.method-dialog {
    display: block;
    vertical-align: text-top;
    width: auto;
    overflow: hidden;
    margin: 5px;
}
.method-dialog .tab-bar {
    border-bottom: 1px dashed #CCCCCC;
    vertical-align: middle;
    
    margin-bottom: 2px;
}
.method-dialog .select-helper + .select-helper {
    margin-left: 10px;
}
.method-dialog .tab-container {
    margin-bottom: 2px;
}
.method-dialog .tab-bar input {
    position: relative;
    top: 2px;
    margin-left: 10px;
}
.method-dialog .help {
    margin-top: 5px;
}
.method-dialog .tab-container div {
    float: left;
}
.method-dialog .tab-container .method-select {
    margin-left: 10px;
}
.method-dialog #after-filter, .method-dialog #before-filter {
    clear: both;
    margin-bottom: 2px;
}
#after-filter input, #before-filter input {
    position: relative;
    top: 3px;
}
#before-filter.disabled {
    opacity: 1;
}

#new-method {
    width: 26em; /* enough room for "waitForNotWhetherThisWindowMatchWindowExpression" */
}

#method-dialog-help {
    clear: both;
    line-height: normal;
    margin: 5px;
    background-color: white;
    padding: 10px;
}

.url-warning {
  color: #aa0000;
}

.cookie-warning {
  color: #aa0000;
  display:none;
}

/** locator dialog **/
.find-new {
    float: right;
    margin-right: 3em;
}

.locator-dialog .warning, .locator-dialog ul {
    line-height: normal;
}


/** Remove scroll-bar from selects **/
.select-helper {
    overflow: hidden;
    border: 1px solid #cccccc;
    /* width: set by javascript to the same as the width of an option at display time */
}
.select-helper select {
    overflow: hidden;
    border: none;
    padding: 0px;
}

.method-dialog .select-helper {
    float: left;
}

.method-dialog .category-select option {
    width: 120px;
}

#booting.error {
    color: red;
}



/** suite **/
div.scriptselector {
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  color: #ffffff;
  background: transparent url(../img/builder-header.png) repeat-x scroll 0 0;
  margin-bottom: 5px;
}

div.scriptselector select {
  
}

/**
New step styling.
**/

.b-suite-playback-script {
  background: #dddddd;
  -moz-border-radius: 5px;
  margin: 2px;
  margin-left: 102px;
  padding: 1px;
}

#steplist {
  counter-reset: line-number;
  top: 0; /* adjusted as needed - should be 85 or so*/
  margin-left: 80px;;
  margin-right:1em;
  display:block;
  min-height:100%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 4em;
  padding-bottom:1em;
  background: white;
  border-left:1px solid rgb(32,32,32);
  border-bottom:1px solid rgb(32,32,32);
  box-model:border-box;
  box-shadow: -.1em 0em 1em rgba(0,0,0,0.5), inset 0 0 2rem rgba(0,0,0,0.1);  
}
#dialog-attachment-point form,
#steplist form 
{
    background-color:rgba(255,255,255,0.9);
    border:1px solid rgb(210,210,210);
    border-radius: 0.5rem;
    box-shadow: 0 0 0.5rem rgba(0,0,0,0.3) ;
    padding:1rem;  
    
     
}

#dialog-attachment-point form ul
{min-width:20em; padding: 1rem; margin:1rem;width:100%;}

texta{width:100%;}
#steps-top
{
    position:relative;
    
}
#steps
{    
}
#steps-footer
{
    height:1rem;
    background-color:rgb(250,250,250);
}


.b-step {
  position: relative;
}

.b-step-content, .b-baseurl {
  /*background: #dddddd;*/
  border-top: 1px dotted rgb(128,128,128);
  padding: 0.3rem 0.1rem;
}

.b-step-container {
  padding-left: 2.2rem;
  
}

/* Compensate for b-baseurl not being wrapped in b-step and its label being wider. */
.b-baseurl {
  margin: 2px;
  margin-left: 102px;
}

.b-step-number:before {
  position: absolute;
  left: 0;
  width:2.2 rem;
  text-align:right;
  padding-right:0.5rem;
  content: counter(line-number) ". ";
  counter-increment: line-number;
  color: rgb(200,200,200);
  
}

.b-method {
  color: black;
  margin-right: 0.5em;
  font-weight: bold;
  position:relative;
}

.b-param-row {
  display: block;
}

.b-param-type {
  margin-right: 0.5em;
  color: #555555;
  text-decoration:underline;
}

.b-param {
  color: rgba(0,0,0,0.6);
}

.b-param-input {
  width: 20em;
}

.b-param-input {
  margin-top: -5px;
  margin-bottom: -5px;
}

.b-method:hover, .b-param:hover, .b-param-type:hover {
  text-decoration: none;
}

.b-step-error, .b-step-warning, .b-step-message {
  display: block;
  margin-top: 5px;
  font-style: italic;
}

.b-alt-locators {
  margin-top: 10px;
}

/** Tasks */
.b-step .b-tasks {
  display: none;
}

.b-step:hover .b-method:before {
 position: absolute;
  left: -12px;
  width:15px;
  height:30px;
  top:50%;
  margin-top: -15px;
  text-align:right;
  padding-right:0.5rem;
  content: " ";
 background:url(../img/menuarrow.png) no-repeat center left;
  z-index:1001;
}
.b-step:hover .b-tasks {
  background-color:white;
  padding: 3px;
  border-radius: 5px;
  border:1px solid black;
  box-shadow: 0.2rem 0.2rem 1rem rgba(0,0,0,0.5);
  display: block;
  position: absolute;
  top: 0rem;
  margin:0rem;
  margin-top:-0.5rem;
  padding-bottom:1rem;
  left:-86px;/* into the grey space*/
  z-index: 1000;
  width:91px; 
  box-model:border-box;
}

.b-step:hover {
  background-color: #bfee85;
  border-radius: .2rem;
}

.b-tasks .b-task {
  display: block;
  padding: 2px;
}

/**
 * Header
 
.header {
  height: 60px;
  margin-bottom: 5px;
  color: #333333;
  background: transparent url(../img/selenium-header.png) repeat-x scroll 0 0;
}*/

#header-logo {
    position:fixed;;
    bottom:1ex;
    left:1ex;
    display:block;
}

#header-status {
  position: absolute;
  left: 86px;
  top: 5px;
}


/**
 * Informational displays
 */
#panels  {
   border-bottom:1px solid #81c546;
   padding-bottom:1rem;
   
}

.panel p
{color: rgb(128,164,96);
margin:0;
padding:0.3rem 0;
}

.panel 
{
    display:block; 
    float:left;
    padding:0;margin-bottom:2px;    
}

.info

{
    float:none !important;
    background-color:rgb(240,240,200);
    border: 1px solid rgb(220,220,150);
    border-radius: .1rem;
    box-shadow: 0 0 3px rgb(255,255,255);
    margin-bottom:0.5rem;
    padding:0.5rem;
    color:rgb(128,128,0);
    
}

/* base startup"menu of options
 * this set of style makes a button/menu set of the list items.*/
#startup
{
    border-radius: 1rem;
    border:2px solid rgb(32,32,32);
    background-color: rgba(255,255,255,0.8);
    box-shadow: 2px 2px 8px rgba(0,0,0,0.6);
    display:block;
    position:relative;
    margin: 1em 1em 1em 80px ;
    box-model:border-box;
    
    
}
#startup *
{
    box-model:border-box;
}
#startup h1
{
    border-top-right-radius: .9rem;
    border-top-left-radius: .9rem;
    background-color: rgb(102,170,102);
    margin:0;
    color: rgb(200,230,200);;
    padding: 1.5rem 3rem 1rem 3rem;
    font: 400 2.6rem/2.2rem lucida grande, SegoeUI, Tahoma;
    letter-spacing:-0.2rem;
   text-shadow: 1px 1px 2px rgba(255,255,255,0.4), -1px -1px 2px rgba(0,0,0,0.5);
    border-bottom:1px solid  rgba(0,0,0,0.7);
}
#startup h3
{
    font-weight:normal;
    font:inherit;
    margin:0;
    padding:0;
    
}
#startup ul
{
    border-top:1px solid  rgba(0,0,0,0.3);
    padding:0;
    margin:0;
    list-style:none;
    padding: 0 0.5rem;
}
#startup li
{
    border-bottom:1px dotted rgb(102,170,120);
    font: 1.1rem/1.5rem lucida grande, SegoeUI;
    
    margin:0;
    padding:0.5rem 3rem;
    cursor:pointer;
    color:rgb(128,128,128);
}
#startup li:hover
{
    background-color:rgba(102,170,102,0.1);
}
#startup a
{
    font-weight:bold;
    color: rgb(64,96,64);
}
#startup li:hover a
{
    color: rgb(32,64,32);
}



#record-spinner {
  float: right;
}

#dialog-attachment-point {
  padding-left: 5px;
  padding-right: 5px;
}

/**
 * Menu
*/

#menu *,#menu{
    box-sizing: border-box; 
}

 #menu
{
    font:           1rem/1.2rem "lucida grande","segoeUI"; 
    background:     rgb(240,240,240) url(../img/button-gradient.png) repeat-x;

    color:          rgb(96,96,96);
    position:       fixed;
    top:            4px; 
    left:           4px;
    right:          4px;
    z-index:        30;
    border:         1px solid rgb(96,96,96);
    border-bottom:  1px solid rgb(32,32,32);
    box-shadow:     0px 1px 2px rgba(50, 50, 50, 0.6);
    border-radius:  0.2rem;
    margin:         0;
    padding:0;
}
 #menu li
 {
    float:         left;
    display:       block;
    position:      relative;  
    cursor:        pointer;         


}

 #menu  li ul
 {
    top:               100%;
    left:              0px;
    padding:           5px 0px;
    position:          absolute;
    background-color:  rgb(240,240,240);
    border:            1px solid rgb(200,200,200);
    width:             auto;
    height:            auto;
  display: none;
    box-shadow:         2px 2px 7px rgba(50, 50, 50, 0.75);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
    border-bottom-left-radius: 5px;
}
 #menu  li:hover ul
 {            
    display:            block;
    z-index:            5;

 }
 #menu  li ul li
 {
  display: block;
     position:          static;
     min-width:         15em;
     float:             none;
}

 #menu ul
 {
     height:            2.2em;
     background-color:  rgb(255,255,255);
     border-bottom:     1px solid rgb(0,0,0);
     padding-left:      6em;
}

 
 #menu li a
 {
     color:rgb(64,64,64);
  text-decoration:none;
     padding: 1ex 2ex;
     display:block;
     white-space:pre;
}


#menu li:hover a,
#menu li:hover ul li a:hover
 {
     color:rgb(0,0,96);
     border:0;
 }
 
 
#menu li:hover
 {
     background-color:rgba(255,255,255,0.5);
     z-index:200;
     
     
}


.currentScript, .suite-path {
  font-style: italic;
}

/* For some reason, tables have massive text if this isn't added in. */
table {
	font-size: 100%;
}

/* Selenium type chooser */
table.cat-table {
  background-color: #eeeeee;
  padding: 5px;
  margin: 2px;
  -moz-border-radius: 5px;
	font-size: 100%;
}

table.cat-table td {
  vertical-align: top;
}

table.cat-table li {
  list-style: none;
}

.selected-cat {
  font-weight: bold;
}

.selected-type {
  font-weight: bold;
}

.cat-list {
  margin: 0px;
  padding: 0px;
  margin-right: 20px;
}

.type-list {
  margin: 0px;
  padding: 0px;
  margin-right: 20px;
}

.type-info {
  background-color: white;
  border: 1px solid #aaaaaa;
  margin: 0px;
  padding: 3px;
}

.type-info-head {
  font-weight: bold;
}

.type-info-longparam {
  margin-left: 5px;
  padding-left: 0px;
}